
DATABASE_URL="postgresql://postgres:postgresql@192.168.122.2:5432/centralresume"

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_SECRET="supersecret"
PROTOCOL_BE_URL="http://localhost:4000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

DUMMY_MODE=true
RESEND_SMTP_PASS=""
RESEND_SMTP_USER=""
RESEND_FROM_EMAIL=""