
DATABASE_URL="postgres://postgres:postgres@localhost:51214/template1?sslmode=disable&connection_limit=1&connect_timeout=0&max_idle_connection_lifetime=0&pool_timeout=0&single_use_connections=true&socket_timeout=0"

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_SECRET="supersecret"
PROTOCOL_BE_URL="http://localhost:4000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

DUMMY_MODE=true
SMTP_HOST=""
SMTP_PASS=""
SMTP_USER=""
SMTP_FROM_EMAIL=""

NODE_ENV=development